@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e0f7fa;
  --foreground: #03a9f4;
}

.bg-gradient-custom {
  background-image: linear-gradient(to right, #e0f7fa, #03a9f4);
}